# npm
node_modules
package-lock.json
*.log
*.gz
.env.production
.env.development
.env.test
*.rest
# Coveralls
.nyc_output
coverage

#local db
database.sqlite

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
.DS_Store
# https://git-scm.com/docs/gitignore
